<ion-content [fullscreen]="true">

  <div class="h-50 p-5">
    <h1 class="title mb-4">{{title}}</h1>
    <div class="d-flex justify-content-center">
      <ion-img [src]="url"></ion-img>
    </div>
  </div>

  <div class="h-50 cntDetail p-5">

    <div class="">
      <h1 class="">Información básica</h1>
      <p>
        {{info}}
      </p>
    </div>
    <div class="text-center">
      <ion-button 
        class="btn-go mt-3 w-100"
        strong="true"
        size="small"
        (click)="goToQuestions()"
      >
        <ion-img 
          slot="start"
          src="/assets/images/icons/playIcon.svg"
        ></ion-img>
        COMENCEMOS
      </ion-button>
    </div>
  </div>
</ion-content>
