<ion-content [fullscreen]="true">
  <app-trivia-info *ngIf="false"></app-trivia-info>
  <div>
    <div class="cntQuestion">
      <h2 class="text-center my-3">Basico</h2>
      <h2>Pregunta 1/5</h2>
      <ion-progress-bar type="determinate" value="0.20" color="primary"></ion-progress-bar>
      <h2 class="mt-4">1.Lorem Ipsum is simply dummy text of the printing ?</h2>
    </div>
    <div class="cntAlternatives">
      <ion-radio value="ford" mode="md" labelPlacement="end">
        <p>rthrthrthrthrthertherthjertyjertjertjertjertj ergerge ergerger gergerg</p>
      </ion-radio>
    </div>
  </div>
</ion-content>
