<ion-content [fullscreen]="true">
  <app-trivia-info *ngIf="false"></app-trivia-info>
  <div>
    <div class="cntQuestion">
      <h2 class="text-center my-3">Basico</h2>
      <h2>Pregunta 1/5</h2>
      <ion-progress-bar type="determinate" value="0.20" color="primary"></ion-progress-bar>
      <h2 class="mt-4">1.Lorem Ipsum is simply dummy text of the printing ?</h2>
    </div>
    <div class="cntAlternatives">
      <div>
        <ion-radio class="" value="ford" mode="md" label-placement="end">
          <ion-label>
            rthrthrthrthrthertherthjertyjertjertjertjertj ergerge ergerger gergerg
          </ion-label>
        </ion-radio>
      </div>
      <div class="d-flex justify-content-center">
        <ion-button 
          class="btn-go mt-3 w-100"
          strong="true"
          size="small"
        >
          <ion-img 
            slot="start"
            src="./../../../assets/images/icons/playIcon.svg"
          ></ion-img>
          SIGUIENTE
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
