@import "./../../scss/variables.scss";

* {
  background-color: #66E6C7;
  background-image: url('/assets/images/pattern.svg');
  background-size: cover;
}

.title {
  font-family: $textBase;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #0B3D91;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.btn-go {
  --color: #092D69;
  font-size: 20px;
  font-weight: 700;
  height: 58px;
  --border-color: #FC3D21;
  --border-style: solid;
  --border-width: 4px;
  --background: #FFFFFF;
}
